:root {
    --main-bg-color: #008080;
    --main-bg-color-light: #94d3d3;
    --main-bg-color-lighter: #ddecec;
    --main-bg-body: #f3f4f6;
}

body {
    background-color: var(--main-bg-body) !important;
}

.container-fluid {
    max-width: calc(1920px * 0.7);
}

.navbar {
    padding: 0 0 !important;
}

.navbar .container-fluid {
    padding: 1rem 1rem !important;
}

.navbar .navbar-nav .nav-item {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item a {
    color: #777 !important;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #000 !important;
}

.navbar-brand {
    font-weight: bold;
}

/* Sidebar */

.sidebar .sidebar-list {
    display: block;
}

.sidebar .sidebar-link {
    box-sizing: border-box !important;
}

.sidebar .sidebar-link {
    padding: 0.75rem;
    border-radius: 1rem;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    border: 1px solid var(--main-bg-body);

}

.sidebar .sidebar-link svg {
    width: 20px;
    margin-right: 0.5rem;
}

.sidebar .sidebar-link:hover {
    background-color: #e8f1f1;
    color: #008080;
    border: 1px solid #008080;
}

/* Sidebar */


/* Navtabs */

.nav-tabs .nav-item {
    background-color: var(--main-bg-body);
}

.nav-tabs .nav-item .nav-link {
    color: #aaa;
    font-weight: 600;
    background-color: var(--main-bg-body);
    border: none;
    border-bottom: 2px solid #e8f1f1;
}

.nav-tabs .nav-item .nav-link.active {
    color: #555;
    border-bottom: 2px solid #008080;
}

/* Navtabs */


/* Smartphone Menu */

.smartphone-menu {
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 0 0.5rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    border: 1px solid #ddd;
    box-shadow: 0 0 1rem 0 #d8dbe9
}

.smartphone-menu a {
    flex: 1;
    text-decoration: none;
    color: #777;
    text-align: center;
    padding: 0.5rem;
}

.smartphone-menu a:hover {
    color: #000;
}

.smartphone-menu a:active {
    background-color: #e8f1f1;
    color: #008080;
    /* border: 1px solid #008080; */
}

/* Smartphone Menu */

.card {
    border-radius: 1rem !important;
    /* box-shadow: 0 0 1rem 0 #d8dbe9 !important; */
    border-color: #e2e4ee !important;
}

.card .card-body {
    padding: 0.75rem;
}

.card .card-body .card-title {
    font-weight: bold;
}

.btn {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.btn.btn-sm {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.btn.has-icon svg {
    margin-right: 0.25rem;
}

.table thead {
    background-color: var(--main-bg-color-lighter);
}

form .btn .spinner-border {
    margin-right: 0.5rem;
}

.form-floating .form-label::after {
    opacity: 0 !important;
}

.form-switch .form-check-input {
    margin-top: 0.325rem !important;
}

[data-bs-theme=dark] body {
    background-color: #18191a !important;
}

[data-bs-theme=dark] .card {
    background-color: #242526 !important;
    box-shadow: 0 0 1rem 0 #0b0b0c !important;
    border-color: #2f3033 !important;
}

.btn-icon {
    padding: 0px 5px !important;
}

.btn-icon:active {
    background-color: #e8f1f1 !important;
    color: #008080 !important;
    border-color: #008080 !important;
}

.verified-icon {
    color: #1d9bf0;
    margin-top: 3px;
}

.thread-line {
    background-color: #eee;
    margin: auto;
    width: 2px;
    height: 100%;
}

.thread-line-circle {
    position: absolute;
    background-color: #008080;
    border-radius: 100%;
    width:8px;
    height: 8px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.link-dark {
    color: #777 !important;
    text-decoration: none;
    cursor: pointer;
}

.link-dark:hover {
    text-decoration: underline;
}

.link-text {
    text-decoration: none;
    color: #333;
}

.link-text:hover {
    color: #008080;
}

.btn-floating-circle {
    border-radius: 100% !important;
    box-shadow: 0 0 0.5rem 0 #aaa !important;
    padding: 10px !important;
    display: flex !important;
}

.btn-image-close {
    background-color: #000;
    color: white;
    border-radius: 100%;
    box-shadow: 0 0 0.5rem 0 #aaa !important;
    width: 30px !important;
    height: 30px !important;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.6;
}

.btn-image-close:hover {
    opacity: 1;
}

.btn-action-teal {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #008080;
    border-color: #006d6d;
    padding: 0.75rem;
    border-radius: 1rem;
}

.btn-action-teal:hover {
    background-color: #008080;
    border-color: #006d6d;
}

.btn-action-teal:active {
    background-color: #006d6d;
    border-color: #006d6d;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card .card-body {
        padding: 1.5rem !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}