:root {
    --main-bg-color: #008080;
    --main-bg-color-light: #94d3d3;
    --main-bg-color-lighter: #ddecec;
    --main-bg-body: #f3f4f6;
}

body {
    background-color: var(--main-bg-body) !important;
}

.container-fluid {
    max-width: calc(1920px * 0.7);
}

.navbar {
    padding: 0 0 !important;
}

.navbar .container-fluid {
    padding: 1rem 1rem !important;
}

.navbar .navbar-nav .nav-item {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
    font-weight: bold;
}

.navbar .navbar-nav .nav-item a {
    color: #777 !important;
}

.navbar .navbar-nav .nav-item a:hover {
    color: #000 !important;
}

.navbar-brand {
    font-weight: bold;
}

/* Sidebar */

.sidebar .sidebar-list {
    display: block;
}

.sidebar .sidebar-link {
    box-sizing: border-box !important;
}

.sidebar .sidebar-link {
    padding: 0.75rem;
    border-radius: 1rem;
    display: block;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    border: 1px solid var(--main-bg-body);

}

.sidebar .sidebar-link svg {
    width: 20px;
    margin-right: 0.5rem;
}

.sidebar .sidebar-link:hover {
    background-color: #e8f1f1;
    color: #008080;
    border: 1px solid #008080;
}

/* Sidebar */


/* Navtabs */

.nav-tabs .nav-item {
    background-color: var(--main-bg-body);
}

.nav-tabs .nav-item .nav-link {
    color: #aaa;
    font-weight: 600;
    background-color: var(--main-bg-body);
    border: none;
    border-bottom: 2px solid #e8f1f1;
}

.nav-tabs .nav-item .nav-link.active {
    color: #555;
    border-bottom: 2px solid #008080;
}

/* Navtabs */

.card {
    border-radius: 1rem !important;
    /* box-shadow: 0 0 1rem 0 #d8dbe9 !important; */
    border-color: #e2e4ee !important;
}

.card .card-body {
    padding: 1.5rem !important;
}

.card .card-body .card-title {
    font-weight: bold;
}

.btn {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.btn.btn-sm {
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.btn.has-icon svg {
    margin-right: 0.25rem;
}

.table thead {
    background-color: var(--main-bg-color-lighter);
}

form .btn .spinner-border {
    margin-right: 0.5rem;
}

.form-floating .form-label::after {
    opacity: 0 !important;
}

.form-switch .form-check-input {
    margin-top: 0.325rem !important;
}

[data-bs-theme=dark] body {
    background-color: #18191a !important;
}

[data-bs-theme=dark] .card {
    background-color: #242526 !important;
    box-shadow: 0 0 1rem 0 #0b0b0c !important;
    border-color: #2f3033 !important;
}

.btn-icon {
    padding: 0px 5px !important;
}

.btn-icon:active {
    background-color: #e8f1f1 !important;
    color: #008080 !important;
    border-color: #008080 !important;
}

.verified-icon {
    color: #1d9bf0;
    margin-top: 3px;
}

.thread-line {
    background-color: #eee;
    margin: auto;
    width: 2px;
    height: 100%;
}

.link-dark {
    color: #888 !important;
    text-decoration: none;
}

.link-dark:hover {
    text-decoration: underline;
}

.link-text {
    text-decoration: none;
    color: #333;
}

.link-text:hover {
    color: #008080;
}